@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  // padding: 0px 30px;
  margin: 0;
  // outline: none;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: left;
  // justify-content: left;
  background-color: #f3f3f3;
}
.app {
  padding: 0px 30px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: #f3f3f3;
}
nav {
  background-color: #7dd87d;
  width: 100%;
  padding: 0.80rem 0 0.80rem 0;
  // text-align: right;
  display: flex;
  height: 8%;
  justify-content: right;
  align-items: left;
}
.front-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  border-radius: 8px 0 8px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
button {
  border: none;
  color: #737373;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}
.tree-item {
  cursor: pointer;
  padding: 5px;
  background: transparent;
  border: 0px none;
}
.sub-branch {
  padding-left: 30px;
}
.sub-branch-shrunk {
  display: none;
}